header{
    height: 500px; 
    width: 100%;
    background-image: url('../images/headerbackground.png');
    display: flex;
    justify-content: center;
    align-items: center;
}


.subcontainer_1{
    line-height: 0.5;
    padding: 40px;
  
    h1 {
        font-size: 45px;
        font-weight: bold;
        justify-content:center;
        align-items: center;
        color: white;  
        font-family: 'Josefin Sans',sans-serif;
     }
     p{
        color: white;
        font-size: 22px;
        font-family: 'Josefin Sans',sans-serif;
        padding-left: 30px;
     }
    }
form {
    display: flex;
    align-items: center;
    
        input{
        padding: 11px;
        border: none;
        width: 250px;
        font-size: 16px;
    }
    button {
        padding: 12px;
        height: 40px;
        background-color: #5474FD;
        color: white;
        font-size: 16px;
        border: 1px solid white;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease;
    
        i {
            margin-right: 5px;
            font-size: 1.2rem;
        }
    
        &:hover {
            background-color: blue;
        }
    }
}
   .scroll-down {
        font-family: 'josefin sans',sans-serif;
        font-size: 14px;
        letter-spacing: 2.8px;
        color: white;
        font-size: 1rem;
        cursor: pointer;
        text-decoration: none; 
    
    
        &:hover {
            color: blue;
        }
    }
   a .bi 
    {
      padding-left: 40px;
    }
    .scroll-option{
        padding: 40px 0px 40px 120px;
    }
    
    .top_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:20px;
        width: 100%;
        background-color: #5474FD;
        overflow: hidden;
        box-sizing: border-box;
        
    }
    .head{
        font-family: 'josefin sans',sans-serif;
        font-size: 24px;
        font-weight: bold;
    }
    .navigation_container{
        display: flex;
        justify-content: flex-start;
        font-family: 'Aleo',sans-serif;
        font-size: 14px;
        gap:30px;
        padding-right: 80px;
        
    }
    .tabs{
        list-style-type: none;
        display: flex;
        gap: 20px;
    }
    
    .head a {
        text-decoration: none;
        transition: color 0.3s ease;
        color: white;
    }
    .tabs a{
        color: white;
    }
    .tabs a:hover, .head a:hover{
        color:blue;
    }
    
    @media (max-width: 768px) {
        .tabs {
          display: none;
          flex-direction: column;     
          text-decoration: none;
          left: 0;
          width: 100%;
          padding: 16px;
          z-index: 10;
        }
      
        .tabs a {
          color: white;
        }
        .icon {
            display: block;
          }
          .menu-toggle:checked + .icon + .tabs {
            display: flex;
            text-decoration: none;
            
          }
          .menu-toggle {
            display: none;
        }
        .menu-toggle:checked + .icon {
            display: none;
        }
        .leftpart,
        .rightpart {
            width: 100%; 
            text-align: center;
            margin: 0;
            padding: 10px;
        }

        .rightpart {
            gap: 10px;

            .first,
            .second {
                padding: 0;
                display: flex;
                justify-content: center;
            }
        }
    }
    @media (max-width: 480px) {
        
    
        .leftpart h2 {
            font-size: 28px;
        }
    
        .leftpart p {
            font-size: 14px;
            line-height: 22px;
        }
    
        .rightpart .first,
        .rightpart .second {
            padding: 0;
            display: flex;
            justify-content: center;
            img {
                width: 90%;
            }
        }
    }
       
        @media (min-width: 768px) { 
            .menu-toggle {
                display: none;
            }
            .icon{
                display: none;
            }
            .tabs {
                list-style: none;
                display: flex;
                gap: 20px;
            }
        
            .tabs a {
                text-decoration: none;
                color: white;
                font-size: 18px;
                padding: 10px;
        
                &:hover {
                    color: blue;
                }
            }
            
        }
        @media (min-width: 1200px) {
           
          
          .menu-toggle {
            display: none;
          }
          .icon {
            display: none;
            font-size: 28px;
            color: white;
            cursor: pointer;
          }
          .tabs {
            list-style: none;
            display: flex;
            gap: 20px;
          }

          
          .tabs a {
            text-decoration: none;
            color:white;
            font-size: 18px;
            padding: 10px;
          }
        }
#whychooseus{
    background-image: url('../images/whychosebackground.png');
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 30px 40px;
    width: 100%;
    overflow: hidden;
        box-sizing: border-box;
        
    
    .leftpart{
        
    h2{
        font-family: 'Aleo',sans-serif;
        font-size: 36px;
    }
    p{
        font-family: 'josefin sans',sans-serif;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 1.6px;
    }
        }
    .rightpart{
        display: flex;
        flex-direction: column;
        margin-right: 180px;
        .first{
            padding: 0 30px 0px 0px;
        }
        .second{
            padding: 10px 0px 0px 30px;
        }
    }
    }
#workingprocess{
    background-image: url('../images/workingprocessbackground.png');
    display: flex;
    justify-content: center;
    align-items: center;
    
    .logos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 80px 0px 40px 0px;
    }
    
    .logos i {
        font-size: 40px;
        margin-bottom: 10px;
    }
    
    .logos p {
        
        font-family: 'Aleo', sans-serif;
        font-size: 16px;
        color: white;
    
    }
    .line {
        width: 200px; 
        height: 150px;
        border:  solid  2px#ccc;
        border-color: white transparent transparent transparent; 
        border-radius: 50%/100px 100px 0 0;

    }
    
}